*{
    font-family: IRANSans, serif;
    font-style: normal;
    font-weight: normal;
    direction: rtl;
}

body{
    margin: 0 0 0 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 1px 4px #0000001A;
    z-index: 100;
    padding: 0 130px;
}

.header-span{
    max-width: 500px;
}

.header a {
    float: right;
    color: #24292d;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    margin: 0 10px 0 10px;
}

.header-left {
    float: left;
    padding: 15px;
}

.mynav{
    background: #b9eff2;
    height: 160px;
    margin-top: 60px;
}

.mynav-svg{
    position: absolute;
    right: 200px;
    top: 190px;
    width: 300px;
    height: 35px;
}

.mynav-svg polygon{
    width: 300px;
    height: 35px;
}

.mynav-svg .svg-dark{
    fill: #6bc9ce;
}

.mynav-svg .svg-light{
    fill: #6bc9ce80;
}

.aside{
    position: absolute;
    top: 0;
}

.section{
    position: relative;
    background: #f6f6f6;
    min-height: calc(100vh - 60px - 60px);
}

.section-image{
    position: relative;
    right: 150px;
    float: right;
    top: -100px;
    margin-bottom: 100px;
    border-radius: 20px;
    border: 10px solid #ffffffcc;
    box-shadow: 0 0 20px #00000020;
}

.section-name{
    position: relative;
    float: right;
    font-weight: bold;
    top: 20px;
    right: 180px;
    color: #464646;
}

.section-job-title{
    position: relative;
    float: right;
    top: 85px;
    right: -35px;
    font-size: larger;
    color: #666666;
}

.section-bio{
    position: relative;
    float: right;
    top: -160px;
    padding: 0px 150px;
    text-align: justify;
    font-size: larger;
    color: #464646;
}

.section-add-skill{
    position: relative;
    display: flex;
    float: right;
    top: -160px;
    padding: 0 150px;
    justify-content: center;
    align-content: center;
}

.add-skill-block{
    padding: 5px;
    margin: 10px;
    background: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 8px #0000001A;
}

.add-skill-list{
    height: 40px;
    border: 2px #ededed;
    background: #f9f9f9;
    min-width: 160px;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

.add-skill-btn{
    height: 40px;
    background: #0099a5;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    padding: 0 15px;
}

.section-skills{
    display: flex;
    flex-flow: row;
    top: -100px;
    padding: 0px 150px;
    position: relative;
    float: left;
}

.section-skills li{
    float: left;
    color: #464646;
    align-content: center;
    justify-content: center;
    font-size: larger;
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    background: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 8px #0000001A;
    direction: ltr;
}

.section-skills ul{
    display: flow;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section-skills .point{
    position: relative;
    padding: 0 8px;
    margin: 10px 0;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    width: 20px;
    height: 20px;

}

.section-skills .pg{
    background: #00b800;
    color: #ffffff;
}

.section-skills .pb{
    background: #b9eff2;
    color: #006264;
}

.section-skills .pr{
     background: #ef001c;
     color: #ffffff;
 }

.section-skills {
    position: relative;
}

.footer {
    display: flex;
    height: 65px;
    background: #363636;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer p{
    text-align: center;
    color: #878787;
    text-shadow: 0 2px 4px #000000;
    margin: 0;
}

