*{
    font-family: IRANSans, serif;
    font-style: normal;
    font-weight: normal;
    direction: rtl;
}

body{
    margin: 0 0 0 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 1px 4px #0000001A;
    z-index: 100;
    padding: 0 130px;
}

.header-span{
    max-width: 500px;
}

.header a {
    float: right;
    color: #24292d;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    margin: 0 10px 0 10px;
}

.header-left {
    float: left;
    padding: 15px;
}

.mynav{
    margin-top: 60px;
}

.nav-project{
    background: #b9eff2;
    height: 100px;
}

.nav-profile{
    background: #b9eff2;
    height: 160px;
}

.nav-register{
    background: #000000;
    min-height: calc(100vh - 60px);
}

.nav-profile-svg{
    position: absolute;
    right: 200px;
    top: 190px;
    width: 300px;
    height: 35px;
}

.nav-profile-svg polygon{
    width: 300px;
    height: 35px;
}

.nav-profile-svg .svg-dark{
    fill: #6bc9ce;
}

.nav-profile-svg .svg-light{
    fill: #6bc9ce80;
}

.aside{
    position: absolute;
    width: 25%;
    min-width: 300px;
    margin: 20px 160px;
    padding: 10px 20px;
    background: #ffffffdd;
    border-radius: 8px;
    box-shadow: 0 2px 8px #0000001A;
    vertical-align: center;
    horiz-align: center;
    z-index: 90;
}

.reg-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.reg-field{
    display: block;
    width: 100%;
    margin: 2px;
    border: 0;
    background: #ffffff00;
    border-bottom: 2px solid #00bfd2;
    padding: 10px;
    font-size: 15px;
}

.reg-submit{
    display: block;
    width: 30%;
    margin: 10px 0;
    float: left;
    background: #00bfd2;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
}

.reg-submit:hover{
    cursor: pointer;
}

.reg-already{
    position: absolute;
    bottom: 10px;
}

.reg-already-text{
    display: inline-block;

}

.reg-already-link{
    display: inline-block;
}

.reg-already-link:hover{
    cursor: pointer;
}


.slide {
    display: block;
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.slide img{
    position:absolute;
    animation:slide 25s infinite;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

@keyframes slide {
    25%{
        opacity: 0.5;
    }
    40%{
        opacity:0;
    }
}

.slide img:nth-child(5){
    animation-delay:0s;
}

.slide img:nth-child(4){
animation-delay:5s;
}

.slide img:nth-child(3){
    animation-delay:10s;
}

.slide img:nth-child(2){
    animation-delay:15s;
}

.slide img:nth-child(1){
    animation-delay:20s;
}

.section{
    position: relative;
    background: #f6f6f6;
    min-height: calc(100vh - 65px);
    box-shadow: 0 0 4px #0000001A;
}

.section-image{
    position: relative;
    right: 150px;
    float: right;
    top: -100px;
    margin-bottom: 100px;
    border-radius: 20px;
    border: 10px solid #ffffffcc;
    box-shadow: 0 0 20px #00000020;
}

.section-name{
    position: relative;
    float: right;
    font-weight: bold;
    top: 10px;
    right: 180px;
    color: #464646;
}

.section-job-title{
    position: relative;
    float: right;
    top: 85px;
    right: -35px;
    font-size: larger;
    color: #666666;
}

.section-bio{
    position: relative;
    float: right;
    top: -160px;
    padding: 0 150px;
    text-align: justify;
    font-size: larger;
    line-height: 200%;
    color: #464646;
}

.section-add-skill{
    position: relative;
    display: flex;
    float: right;
    top: -160px;
    padding: 0 150px;
    justify-content: center;
    align-content: center;
}

.add-skill-block{
    padding: 5px;
    margin: 10px;
    background: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 8px #0000001A;
}

.add-skill-list{
    height: 40px;
    border: 2px #ededed;
    background: #f9f9f9;
    min-width: 160px;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

.add-skill-btn{
    height: 40px;
    background: #0099a5;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    padding: 0 15px;
}

.section-skills{
    display: flex;
    position: relative;
    flex-flow: row;
    top: -100px;
    padding: 0 150px;
    float: left;
}

.skills-list{
    display: flow;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.skill-block{
    float: left;
    color: #464646;
    align-content: center;
    justify-content: center;
    font-size: larger;
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    background: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 8px #0000001A;
    direction: ltr;
}

.skill-point{
    position: relative;
    padding: 0 8px;
    margin: 10px 0;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}

.skill-title{
    font-size: 18px;
    color: #000000;
}

.pg{
    background: #00b800;
    color: #ffffff;
}

.pb{
    background: #b9eff2;
    color: #006264;
}

.pr{
     background: #ef001c;
     color: #ffffff;
 }

.main{
    position: relative;
    background: #ffffff;
    top: -50px;
    margin: 0 160px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #0000001A;
}

.main-top-right{
    display: inline-table;
    padding: 30px 30px 30px 30px;
    vertical-align: top;
}

.prj-img{
    border: 1px solid #f3f3f3;
}

.main-top-left{
    display: inline-table;
    padding: 30px 30px 30px 30px;
    vertical-align: top;
    width: 70%;
}

.prj-name{
    margin: 0 0 30px 0;
    font-weight: bold;
}

.aw-icon{
    display: inline;
    font-size: 15px;
    text-space: 20px;
    width: 25px;
    text-align: center;
}

.aw-text{
    display: inline;
    font-weight: bold;
    font-size: 20px;
    line-height: 200%;
}

.aw-text-det{
    display: inline;
    font-size: 20px;
}

.aw-red{
    color: #ef001c;
}

.aw-blue{
    color: #00858d;
}

.aw-green{
    color: #008e3d;
}

.aw-grey{
    color: #666666;
}

.prj-bio-title{
    font-weight: bold;
}

.prj-bio{
    font-size: 20px;
    text-align: justify;
}

.main-skills{
    position: relative;
    background: #f9f9f9;
    padding: 20px 40px;
    box-shadow: 0 2px 8px #0000001A;
    border-top-style: dashed;
    border-top-color: #00d3df;
    border-top-width: 3px;
}

.prj-skills-title{
    color: #00858d;
    font-weight: bold;
}

.main-bid{
    position: relative;
    padding: 30px;
}

.prj-bid{
    display: inline-block;
}

.bid-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.bid-cont{
    display: inline-block;
    border: 2px solid #00bfd2;
    border-radius: 5px;
    padding: 2px;
    height: 55px;
}

.bid-input{
    display: inline-block;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.bid-unit{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    color: #00aebf;
}

.bid-send{
    display: inline-block;
    height: 55px;
    background: #00aebf;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    padding: 0 15px;
    margin: 0 15px;
}

.bid-aw{
    font-size: 20px;
}

.bid-msg{
    display: inline;
    font-size: 20px;
}

.footer {
    display: flex;
    height: 65px;
    background: #363636;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer p{
    text-align: center;
    color: #878787;
    text-shadow: 0 2px 4px #000000;
    margin: 0;
}

